.header{
    text-align: center;
    color: rgb(99, 81, 115);
    padding: 12px;
    margin: 22px;

}
.header h1 {
    font-size: 32px;
    color: blueviolet;
}

#expHeader{
    font-size: 22px;
    text-align: left;
    padding: 2px;
}

#LinkedIn:hover{
    color:plum;
}